*{
   margin:50px auto;
}
/* header section */
.header-container {
  background-image:url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  color:white;
}
.header-text {
  justify-content: center;
  text-align: center;
  padding-top: 150px;
}
.header-title {
  font-size: 32px;
}
.header-sub-title {
  font-size: 72px;
  font-weight: 700;
}
.header-sub-title {
  line-height: 65px;
}
/* main style */

.categories-title {
  font-weight: bold;
  font-size: 88px;
  color:red;
}
.categories-sub-title {
  font-size: 24px;
  font-weight: 600;
  color:red;
}
.categories {
  align-items: center;
  text-align: center;
  margin-bottom: 130px;
  margin-top: 130px;
}
.categories-all{
  font-weight: bold;
  font-size: 48px;
}
.categories-sub-title ,.categories-all {
  line-height: 30px;
}

/* section two 
mid night party styles
*/
.midnight-container {
  background-image: url(../images/Vectorrr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:1320px;
  height: 600px;
  border-radius: 16px;
  color:white;
  padding-top:200px;
  padding-left:100px;
}
.midnight-title {
  font-size: 64px;
  font-weight: 800;
}
.btn {
  border:none;
  font-weight: bold;
  font-size: 20px;
  color:white;
  background-color: rgba(0, 0, 0, 0.59);
  text-decoration: none;
}
/* style section three */
#location {
  justify-content: center;
  padding-top: 100px;
  text-align: center;
  background-color: #f8a6a6;
  width:1320px;
  height:482px;
  border-radius:16px;
  line-height: 16px;
}
.red{
  color:red;
}
.location-title ,.location-sub-title , .location-describtion {
  font-size: 32px;
  font-weight:800;
}
.location-btn {
  padding:16px 32px 16px 32px;
  border-radius: 8px;
  color:white;
  background-color: rgb(252, 37, 37);
  font-size: 20px;
  font-weight: bold;
}
.location-container {
  padding-bottom: 48px;
}
/* section four style */
.colums-parent {
  align-items: center;
  justify-content: center;
  display: flex;
}
.com-img {
  background-color: red;
}
.colum1,.colum3 {
  line-height: 24px;
}
.offer-sub-title{
  font-size: 42px;
  font-weight: 800;
}
.offer-title {
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 50px;
}
.circle {
  box-sizing: border-box; 
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
  padding: 15px;
}
/* styles five section */
.sale-color {
  color: red;
}
.box {
  position:relative;
  display: inline;
}
.image1 {
  top: 150px ;
  z-index: 1;
}
.image3 {
  top: -200px;
}
.image2 {
  top: -180px;
  left: 90px;
}
.sale-title {
  font-size: 24px;
  font-weight: 500;
  color: #070211;
}
.sale-sub-title{
  font-size: 72px;
  font-weight:700;  
}
.sale-description{
  font-size: 20px;
  font-weight: 200;
}
.parent-sale{
  align-items: center;
  text-align: center;
}
.sale-container {
  line-height: 30px;
}
.image-box {
  margin-top: -180px;
}
/* section six styles */
.card-title {
  color: red;
  font-size: 29px;
  font-weight: 200;
}
.card-sub-title {
  font-size: 60px;
  font-weight: 600;
}
.card-description{
  font-size: 20px;
}
.card-container-head {
  width: 1163px;
  height: 1320px;
  margin-left: 140px;
}
.colum5 ,.colum6 {
  display:flex;
  gap: 24px;
  margin:0px;
}
.flex {
  margin-bottom: 0;
  margin-top: 0;
}
/* footer style */
.email-container {
  width: 1320px;
  height: 616px;
  background-color: #f9c0c0;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.email-title {
  font-size: 48px;
  font-weight: 800;
  margin-top: 0;
  color:#070211;
}
.emai-description {
  color: #070211;
  font-size: 20px;
}
.email-form{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
form {
  background-color: #fff;
  width: 642px;
  height: 72px;
  display: flex;
  border-radius: 50px;
}
form input {
  border: none;
  outline : none;
  flex: 1;
}
form button {
  padding:auto;
  outline: none ;
  color: tomato;
  border: none;
  cursor: pointer;
}
/* footer items style */
.footer-container {
  width: 1600px;
  height: 609px;
  background-color: #070211;
}
.footer-items {
  align-items: center;
  justify-content:space-between;
  display: flex;
  color: white;
}
.big {
  margin-bottom: 260px;
}
.big1 {
  margin-top: 240px;
  margin-left: 150px;
}